<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s822248.maillist.MailListViewPart"
            id="de.bht.fpa.mails.s822248.maillist.view1"
            name="MailList"
            restorable="true">
      </view>
   </extension>

</plugin>
