<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.bht.fpa.mail.s822248.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.bht.fpa.mail.s822248.main.Perspective"
            id="de.bht.fpa.mail.s822248.main.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s822248.fsnavigation.NavigationView"
            id="de.bht.fpa.mail.s822248.fsnavigation.view1"
            name="NavigationView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s822248.main.ViewPart2"
            id="de.bht.fpa.mail.s822248.main.view2"
            name="name1"
            restorable="true">
      </view>
   </extension>

</plugin>
